name: Build application

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  windows:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
    - name: Run PyInstaller
      run: |
        python -m PyInstaller --name="OBSPoster" --windowed --onefile --icon=icon.ico app.py
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: OBSPoster_Windows
        path: dist/OBSPoster.exe

  macos:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
    - name: Run PyInstaller
      run: |
        python -m PyInstaller --name="OBSPoster" --windowed --onefile --icon=icon.ico app.py
    - name: Add a layer of dir
      run: |
        zip -r OBSPoster.zip dist/OBSPoster.app
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: OBSPoster_MacOS
        path: OBSPoster.zip

  release:
    runs-on: ubuntu-latest
    needs: [windows, macos]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Merge build artifacts
      uses: actions/download-artifact@v4
    - name: Check files
      run: ls -R
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          OBSPoster_Windows/OBSPoster.exe
          OBSPoster_MacOS/OBSPoster.zip
